body {
  height: 100vh;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

.header {
  display: flex;
  justify-content: center;
}

.header span {
  padding: 20px;
  font-size: 28px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 1px solid black;
}

.board_row {
  display: flex;
}

.tile {
  color: white;
}

.tile.snake {
  color: black;
}

.tile.food {
  color: red;
}

.points {
  margin-top: 8px;
  font: 400 11px system-ui;
  font-size: 16px;
}

.button_start {
  padding: 16px;
  border: none;
  background-color: rgb(107, 255, 87);
  /* color: white; */
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
  min-width: 150px;
  font-size: 16px;
}
